<a href="https://colab.research.google.com/github/SoyFabianRG/Dashboard/blob/main/notebooks/exploracion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Para Colab

In [3]:
!git clone https://github.com/soyfabianrg/dashboard.git

fatal: destination path 'dashboard' already exists and is not an empty directory.

In [6]:
import pandas as pd
#df = pd.read_csv("../data/raw/raw_afluencia_metro.csv") # Local
df = pd.read_csv("/content/dashboard/data/raw/raw_afluencia_metro.csv") # Colab
df.head()

,_id,fecha,mes,anio,linea,estacion,tipo_pago,afluencia
0,1,2021-01-01T00:00:00,Enero,2021,LÃ­nea 1,Balbuena,Boleto,1848
1,2,2021-01-01T00:00:00,Enero,2021,LÃ­nea 1,Balbuena,Prepago,790
2,3,2021-01-01T00:00:00,Enero,2021,LÃ­nea 1,Balbuena,Gratuidad,325
3,4,2021-01-01T00:00:00,Enero,2021,LÃ­nea 1,Balderas,Boleto,1103
4,5,2021-01-01T00:00:00,Enero,2021,LÃ­nea 1,Balderas,Prepago,922